@import url('https://fonts.googleapis.com/css2?family=Montagu+Slab:opsz,wght@16..144,100..700&family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&display=swap');

@keyframes slideDown {
    from {
        transform: translateY(-100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

/*  tumepruun: #432818
    helepruun: #99582a
    tumebeež: #bb9457
    helebeež: #ffe6a7
    punakaspruun: #5d2a29 */

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-color: #5d2a29;
    z-index: -3;
}

.bg-footer {
    background-color: #421d1c;
}

.button {
    background-color: #ffe6a7;
    width:140px;
    text-align:center;
    margin: 5px;
    color:#432818;
    font-weight: bold;
    font-family: 'Montagu Slab', serif;
}

.btn:hover {
    background-color: #432818;
    border-color: #432818;
    border-radius: 5px;
    color: #ffe6a7;
}

.btn.active {
    background-color: #432818;
    border-color: #432818;
    border-radius: 5px;
    color: #ffe6a7;
    outline: 0;
}

.desktop-nav-items {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 10px 0;
    z-index: 2;
}

.mobile-menu-btn {
    color: #ffe6a7;
    text-shadow: 2px 2px 2px #432818;
}

header {
    position: relative;
    width: 100%;
    height: 50vh;
    overflow: hidden;
    z-index: 1
}

.header-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

#background-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.header-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.header-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.text-header {
    font-family: 'Montagu Slab', serif;
    color:#ffe6a7;
    font-size: 6rem;
    animation: slideDown 1s ease-out;
    white-space: nowrap;
    text-shadow: 2px 2px 2px #432818;
}

.text-title {
    font-family: 'Montagu Slab', serif;
    color:#ffe6a7;
    text-shadow: 2px 2px 2px #432818;    
}

.text-content {
    font-family: 'Old Standard TT', serif;
    color: white;
}

/* Mobile side navigation menu styling */

.btn-close {
    background-color: #ffe6a7;
    border: none;
    opacity: 1;
    font-size: 1.5rem;
}

.sidenav-bg {
    background-color: #432818;
}

.mobile-side-nav a, .mobile-side-nav p {
    text-decoration: none;
    color: #ffe6a7;
    display: block;
    transition: 0.3s;
}

.mobile-nav-links {
    font-size: 24px;
    border-top: 1px solid #ffe6a7;
    border-bottom: 1px solid #ffe6a7;
}

.mobile-nav-links a {
    padding-top: 16px;
    padding-bottom: 16px;
}

.mobile-nav-links a:not(:last-child) {
    border-bottom: 2px dotted #ffe6a7;
}

/* ------------------------------------ */

@media (max-width: 768px) {
    .text-header {
        font-size: 4rem;
        white-space: normal;
    }
}